<!DOCTYPE html>
<html lang="en">
{% load static %}
<title>BANUSHI</title>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'custom.css' %}">
    <title>{% block title %} INDEX {% endblock %}</title>
</head>
<body>

<h1> PARA VELECIKU</h1>
<marquee behavior="scroll" vspace="10" scrollamount="26" bgcolor="lightblue"hspace="20"padding: 10px 0;><img width="200px" src="{% static 'Veleçiku_Koplik_Club_Logo.svg' %}" alt="My image"></marquee>
<marquee behavior="scroll" vspace="10" scrollamount="28" bgcolor="lightblue"hspace="20"padding: 10px 0;><img width="200px" src="{% static 'BESNIK-DULI.jpg' %}" alt="My image"></marquee>
{% block body %} {% endblock %}

</body>
</html>
