<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'custom.css' %}">
    <title>{% block title %} INDEX {% endblock %}</title>
</head>
<body>
<h1><marquee style="font-family:Book Antiqua; color: #FFFFFF" bgcolor="#000080"
             scrollamount="15"> NEW </marquee><marquee style="font-family: Book Antiqua; color: #FFFFFF" bgcolor="#000080"
                                                       direction="right"  scrollamount="15">PROJECT</marquee></h1>
{% block body %} {% endblock %}

</body>
</html>