<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'custom.css' %}">
    <title>{% block title %} Epoka {% endblock %}</title>
</head>
<body>
{% block menu %}
<div class="header">
  <a href="{% url 'main-page' %}" class="logo">
      <img width="100px" src="{% static 'logo.png' %}">
  </a>

  <div class="header-right">
    <a class="{% if active_menu == 'students' %}active{% endif %}" href="{% url 'students-index' %}">Students</a>
    <a class="{% if active_menu == 'courses' %}active{% endif %}" href="{% url 'courses-index' %}">Courses</a>
  </div>
</div>
{% endblock %}



<div style="padding:20px 50px">
{% block body %}
  <h1>Responsive Header</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>Some content..</p>
{% endblock %}
</div>
</body>
</html>
