{% load static %}
<head>
	<title>Home</title>
</head>
<body>
<img width="300px" src="{% static 'logo.png' %}" alt="My image">
<h1>Register here : </h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>


<br>
<br>
<br>
<br>

<h2>Something magic</h2>

<form method="get">
    {{ filterForm }}
    <input type="submit" value="Filter data">
</form>

{% if query_string %}
	<p>showing list for: <b>{{ query_string }}</b></p>
{% endif %}
{% for student in students %}
	<p>{{ student }}</p>
{% endfor %}
</body>